<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form class="form-search text-center" action="{{ path('instagram_api_news') }}" method="get">
        <input id="number" name="number" type="text">
        <button type="submit">Go!</button>
    </form>
</body>
</html>
